/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/private/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
*.zip
composer.phar
composer-setup.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.fleet
.idea
.vscode
